/* .team {
    padding: 100px 0;
    width: 100%;
  }
  
.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;    
}
  
.team .member .member-img {
    position: relative;
    overflow: hidden;
}
.team-mem-image{
    height: 300px;
    width: auto;  
}
  
.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height:100%;
    width: 100%;
    background: url(../../../assets/images/team/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}
  
.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgb(248, 248, 248);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(17, 98, 238, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #77BE45;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #6B71B5;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
} */
.card-team {
	overflow: visible;
	margin-top: 3rem;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(33, 40, 50, 0.125);
	border-radius: 0.35rem;
	height: 100%;
	margin-right: 1rem;
}

.card-team .card-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1.5rem;
	text-align: center;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.35rem;
}

.card-team .card-body .card-team-img {
	height: 10rem;
	width: 10rem;
	border-radius: 100%;
	margin-top: -4.5rem;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(33 40 50 / 20%);
}
.card-team .card-body .card-team-name {
	font-weight: 500;
	font-size: 1.5rem;
}
.card-team .card-body .card-team-position {
	font-style: italic;
	color: #444;
	font-size: 1rem;
	font-weight: bold;
}
.card-footer:last-child {
	border-radius: 0 0 0.35rem 0.35rem;
}
.card {
	box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
