.technology-head{
  font-weight: 600;
  text-transform: uppercase;
}
.technology-title{
  font-weight: 600;
  text-transform: uppercase;
}
.swiper {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 80px;
  	width: auto;
	
	
	border: 1px solid #444;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.swiper-slide i {
	font-size: 2.5rem;
	margin-right: 1rem;
	border-right: 1px solid #444;
	padding: 1rem 0.5rem;
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 30%;

}

.swiper-slide div {
  	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 0.5rem;
	height: 100%;
	width: 70%;
}
.swiper-slide h4{
  font-weight: 700;
  text-transform: uppercase;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -12px;
    left: 0;
    width: 100%;
}









/* .bar{
    height: 4px;
    width: 85px;
    background: #e53b95;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #fff;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}
@-webkit-keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(85px)
    }
}

@keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(85px);
        transform: translateX(85px)
    }
} */