/* .contact .info-box {
	color: #444444;
	background: #fafbff;
	padding: 20px;
}

.contact .info-box i {
	font-size: 38px;
	line-height: 0;
	color: #4154f1;
}
.contact .info-box h3 {
	font-size: 20px;
	color: #012970;
	font-weight: 700;
	margin: 20px 0 10px 0;
}
.contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}
.contact .php-email-form {
	background: #fafbff;
	padding: 30px;
	height: 100%;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;

	font-weight: 600;
}
.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
	margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 0;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
	border-color: #4154f1;
}
.contact .php-email-form input {
	padding: 10px 15px;
}
.contact .php-email-form textarea {
	padding: 12px 15px;
}
.contact .php-email-form button[type='submit'] {
	background: #4154f1;
	border: 0;

	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}
.contact .php-email-form button[type='submit']:hover {
	background: #5969f3;
}
@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

@media (min-width: 993px) {
	.addresserror {
		padding-right: 0px;
	}
}
@media (min-width: 992px) {
	.medium {
		margin-top: 35px;
	}
}
.layout {
	margin-top: 120px;
}
.fonts {
	font-size: 14px;
}
.phoneinput {
	height: 20px;
	width: auto;
}

.clockimage {
	color: black;
	height: 30px;
	width: 30px;
}
.addressheading {
	font-weight: bold;
}

@media (min-width: 500px) {
	.area {
		text-align: center;
	}
}
@media (min-width: 993px) {
	.area {
		text-align: center;
	}
}

@media (min-width: 300px) {
	.firstcontainer {
		text-align: center;
	}
}
@media (min-width: 300px) {
	.formcontainer {
		padding-left: 20px;
	}
}

.mailcolor {
	color: black;
}
.usphonenumber {
	margin-left: 15px;
} */

.contact .info-box {
	text-align: left;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 30px;
	border-radius: 0.5rem;
	border: 1px solid #565dab;
	color: #565dab;
	font-weight: bold;
	font-family: Poppins, 'Sansserif';
	transition: all 0.25s ease-in;
	cursor: pointer;
}
.contact .info-box i {
	font-size: 32px;
	color: #565dab;
	border-radius: 50%;
	padding: 10 px;
	border: 2px solid #565dab;
}
.contact .info-box h3 {
	font-size: 20px;

	font-weight: 700;
	margin: 10px 0;
}
.contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}
.contact .php-email-form {
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 30px;
	border-radius: 4px;
}
.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}
.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}
.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}
.contact .php-email-form .loading:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
	margin-bottom: 25px;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
	box-shadow: none;
	font-size: 14px;
	border-radius: 4px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
	border-color: #111111;
}
.contact .php-email-form input {
	padding: 10px 15px;
}
.contact .php-email-form textarea {
	padding: 12px 15px;
}
.contact .php-email-form button[type='submit'] {
	background: #565dab;
	border: 0;
	padding: 10px 32px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
	font-size: 1rem;
}
.contact .php-email-form button[type='submit']:hover {
	background: #565dab;
}
@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.contact select {
	font-size: 15px;
}

input {
	font-size: 14px;
	border: none;
	outline: none;
}

.contact .fonts {
	font-size: 1rem;
}

.contact .info-box:hover,
.contact .info-box:hover i {
	background-color: #565dab;
	color: #fff;
}
